<app-navbar></app-navbar>


<div class="p-6 max-w-lg mx-auto bg-gradient-to-l from-cyan-700 to-cyan-900 shadow-lg rounded-lg mt-2">
  <h1 class="text-3xl font-semibold text-slate-200 mb-2">Cadastro de Usuário</h1>
  <hr class="text-slate-200">

  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nome" class="block text-slate-200 font-medium mt-3">Nome:</label>
      <input id="nome" formControlName="nome"
        class="w-full p-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring" required>
      <div *ngIf="cadastroForm.get('nome')?.invalid && cadastroForm.get('nome')?.touched" class="text-red-600 text-sm">
        Campo obrigatório</div>
    </div>
    <div>
      <label for="email" class="block text-slate-200 font-medium mt-3">Email:</label>
      <input id="email" type="email" formControlName="email"
        class="w-full p-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring" required>
      <div *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched"
        class="text-red-600 text-sm">Campo obrigatório</div>
    </div>
    <div>
      <label for="senha" class="block text-slate-200 font-medium mt-3">Senha:</label>
      <input id="senha" type="password" formControlName="senha"
        class="w-full p-2 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring" required>
      <div *ngIf="cadastroForm.get('senha')?.invalid && cadastroForm.get('senha')?.touched"
        class="text-red-600 text-sm">Campo obrigatório</div>
    </div>
    <button type="submit"
      class="w-full bg-cyan-900 text-slate-200 font-semibold p-3 rounded shadow hover:bg-cyan-700 mt-4">Cadastrar</button>
  </form>
</div>
