<header class="bg-cyan-900 text-slate-200 py-1 px-3 shadow-lg">
  <div class="text-center">
    <h1 class="text-5xl font-bold">Organizador de séries</h1>
  </div>

  <div class="mt-3">
    <hr class="bordert-t-2 border-cyan-600 opacity-50">
  </div>

  <nav class="mt-2">
    <ul *ngIf="isLoggedIn" class="flex justify-end space-x-6 text-xl text-slate-200 font-semibold">
      <li>
        <a (click)="logout()" class="cursor-pointer text-slate-200 hover:text-rose-700">Sair</a>
      </li>
    </ul>
  </nav>
</header>
